<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta content="Advocate referral program sign up page means that advocate signs up by entering their email address." name="description" />

    <title>Advocate Signup Page &#8212; Talkable Documentation</title>
    <link rel="stylesheet" type="text/css" href="../../_static/pygments.css" />
    <link rel="stylesheet" type="text/css" href="../../_static/talkable.css" />
    <script data-url_root="../../" id="documentation_options" src="../../_static/documentation_options.js"></script>
    <script src="../../_static/jquery.js"></script>
    <script src="../../_static/underscore.js"></script>
    <script src="../../_static/doctools.js"></script>
    <link rel="canonical" href="https://docs.talkable.com/campaigns/views/affiliate_members_new.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Advocate Share Page" href="offers_show.html" />
    <link rel="prev" title="Views" href="../views.html" /><link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="../../_static/pygments-github.css" rel="stylesheet">
  <link href="../../_static/img/favicon.ico" rel="shortcut icon" />
  </head><body>
  
    <div class="header">
      <a href="../../index.html" class="header-logo">Talkable docs</a>
          <form class="search-form" action="../../search.html" method="get">
            <input type="text" class="textfield search-form-field" name="q" placeholder="Search docs" />
            <input type="submit" class="button search-form-button" value="Search" />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
          </form>
      <div class="header-disclaimer">
        Visit
        <a href="https://www.talkable.com" target="_blank">www.talkable.com</a>
      </div>
    </div> <!-- /.header -->
  

  <div class="content-container content clearfix">
      <div class="nav">
        <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../campaigns.html">Talkable Campaigns</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../campaign_types.html">Campaign Types</a></li>
<li class="toctree-l2"><a class="reference internal" href="../campaign_placements.html">Campaign Placements</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../views.html">Views</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="#">Advocate Signup Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_show.html">Advocate Share Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_email.html">Advocate Offer Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email.html">Friend Share Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email_reminder.html">Friend Share Email Reminder</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_claim.html">Friend Claim Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="advocate_rewards_confirmation.html">Advocate Reward Confirmation Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="advocate_rewards_paid.html">Advocate Reward Paid Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="friend_rewards_paid.html">Friend Reward Paid Email</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../tutorials.html">Tutorials</a></li>
<li class="toctree-l2"><a class="reference internal" href="../offers_expiration.html">Offers Expiration</a></li>
<li class="toctree-l2"><a class="reference internal" href="../localization.html">Localization</a></li>
<li class="toctree-l2"><a class="reference internal" href="../editor.html">Editor</a></li>
<li class="toctree-l2"><a class="reference internal" href="../designer.html">Designer</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../advanced_features.html">Features</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../integration/custom_integration.html">Standard Integration</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../integration/shopify.html">Shopify Integration</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../integration/magento.html">Magento Integration</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../integration/demandware.html">Salesforce Commerce Cloud Integration</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../integration/loyalty.html">Loyalty Integration (beta)</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../api_v2.html">API Reference</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../web_hooks.html">Webhooks</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../ios_sdk.html">Talkable iOS SDK</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../android_sdk.html">Talkable Android SDK</a></li>
</ul>

      </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <span class="target" id="campaigns-views-affiliate-members-new"></span><div class="section" id="advocate-signup-page">
<span id="advocate-signup-page-view"></span><h1>Advocate Signup Page<a class="headerlink" href="#advocate-signup-page" title="Permalink to this headline">¶</a></h1>
<p>Advocate referral program sign up page (only for Standalone Campaign). On this page Advocate signs up by entering their email address.
<br>
<br></p>
<img alt="Advocate signup" src="../../_images/advocate-signup.png" />
<h4>Default template markup:</h4><div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">form</span> <span class="na">accept-charset</span><span class="o">=</span><span class="s">&quot;UTF-8&quot;</span> <span class="na">action</span><span class="o">=</span><span class="s">&quot;{{ create_affiliate_member_path }}&quot;</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;post&quot;</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;email&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;affiliate_member[email]&quot;</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&quot;Your Email Address&quot;</span> <span class="na">required</span> <span class="p">/&gt;</span>
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Sign up&quot;</span> <span class="na">data-disable-with</span><span class="o">=</span><span class="s">&quot;Please wait&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;commit&quot;</span> <span class="p">/&gt;</span>
<span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>Do not change <code class="docutils literal notranslate"><span class="pre">name</span></code> and form <code class="docutils literal notranslate"><span class="pre">action</span></code> attributes, otherwise functionality won’t work.</p>
</div>
</div>


            <div class="clearer"></div>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  </div> <!-- /.content-container -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63500208-1', 'auto');
    ga('send', 'pageview');
  </script>
  </body>
</html>