# IDE
.idea
.vscode

# Local
*.log
.env

# Sphinx
_build
build

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Python linters and formatters
.ruff*
*_cache

# Ruby
.bundle
Gemfile.lock

# AI agents
agent_*.md
