x-common-config: &common-config
  platform: linux/arm64/v8
  restart: unless-stopped

x-sphinx-build: &sphinx-build
  context: ./sphinx
  dockerfile: Dockerfile

x-llms-build: &llms-build
  context: ./llms-txt
  dockerfile: Dockerfile

x-sphinx-env: &sphinx-env
  BASE_URL: ${BASE_URL}

x-llms-env: &llms-env
  LLMS_TXT_CORE__OUTPUT_DIR: "/var/www/md"
  LLMS_TXT_CORE__BASE_URL: ${BASE_URL}

x-sphinx-volumes: &sphinx-volumes
  - docs_www:/var/www
  - ./source:/docs/source

x-llms-volumes: &llms-volumes
  - docs_www:/var/www
  - ./llms-txt/src:/app/src

services:
  nginx:
    <<: *common-config
    image: nginx:1.29-alpine3.22
    environment:
      ENVIRONMENT: ${ENVIRONMENT}
    container_name: docs-nginx-${ENVIRONMENT}
    ports:
      - ${LOCAL_PORT}:80
    volumes:
      - docs_www:/var/www
      - ./nginx/robots:/var/www/robots
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/redirects.conf:/etc/nginx/redirects.conf

  sphinx-init:
    <<: *common-config
    build:
      <<: *sphinx-build
      args:
        MODE: "init"
    environment:
      <<: *sphinx-env
    volumes: *sphinx-volumes
    restart: "no"
    container_name: docs-sphinx-init-${ENVIRONMENT}

  sphinx-builder:
    <<: *common-config
    build:
      <<: *sphinx-build
      args:
        MODE: "builder"
    environment:
      <<: *sphinx-env
    volumes: *sphinx-volumes
    container_name: docs-sphinx-builder-${ENVIRONMENT}
    profiles: ["local"]
    depends_on:
      sphinx-init:
        condition: service_completed_successfully

  llms-txt-init:
    <<: *common-config
    build:
      <<: *llms-build
    environment:
      <<: *llms-env
    volumes: *llms-volumes
    restart: "no"
    container_name: docs-llms-txt-init-${ENVIRONMENT}
    depends_on:
      sphinx-init:
        condition: service_completed_successfully
      nginx:
        condition: service_started

  llms-txt-builder:
    <<: *common-config
    build:
      <<: *llms-build
    environment:
      <<: *llms-env
      LLMS_TXT_MONITORING__ENABLED: "true"
    volumes: *llms-volumes
    container_name: docs-llms-txt-builder-${ENVIRONMENT}
    profiles: ["local"]
    depends_on:
      llms-txt-init:
        condition: service_completed_successfully

volumes:
  docs_www:
    name: docs_www
    driver: local
