version: 2.1

executors:
  default:
    docker:
      - auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_ACCESS_TOKEN
        image: cimg/python:3.12
        environment:
          ENVIRONMENT: production

orbs:
  python: circleci/python@3.2

jobs:
  build:
    executor: default
    working_directory: ~/project/sphinx

    steps:
      - checkout:
          path: ~/project

      - python/install-packages

      - run:
          name: Build documentation
          command: uv run sphinx-build -nW -b dirhtml -d build/doctrees ../source build/html

workflows:
  workflow:
    jobs:
      - build:
          context:
            - org-global
