services:
  # Python application that generates markdown files
  docs-llms-txt:
    platform: linux/arm64/v8
    build: .
    container_name: docs-llms-txt
    restart: unless-stopped
    volumes:
      - docs_llms_txt:/app/output

  # Nginx server to serve markdown files
  docs-llms-txt-nginx:
    platform: linux/arm64/v8
    image: nginx:1.29-alpine3.22
    container_name: docs-llms-txt-nginx
    restart: unless-stopped
    ports:
      - ${LOCAL_PORT}:80
    volumes:
      - ./nginx/templates/:/etc/nginx/templates/
      - docs_llms_txt:/usr/share/nginx/html/md:ro
    depends_on:
      - docs-llms-txt

volumes:
  docs_llms_txt:
    name: docs_llms_txt
    driver: local
