.sidebar-logo {
  margin: 0;
}

table.docutils {
  box-shadow: none;
  width: 100%;
}

table.docutils td {
  vertical-align: top;
  padding: 1px 16px 24px 5px;
}

body[data-theme="light"] .highlight,
body[data-theme="light"] .highlight button.copybtn,
body[data-theme="light"] .highlight button.copybtn.success:after {
  background: #f2f2f2 !important;
}

@media (prefers-color-scheme: light) {
  body[data-theme="auto"] .highlight,
  body[data-theme="auto"] .highlight button.copybtn,
  body[data-theme="auto"] .highlight button.copybtn.success:after {
    background: #f2f2f2 !important;
  }
}

.highlight button.copybtn:hover {
  stroke: var(--color-link);
}

.headerlink {
  visibility: hidden !important;
}

.hidden {
  display: none;
}

dd {
  margin-inline-start: 20px;
}

.bd-toc-nav {
  word-break: break-word;
}
