@import url("basic.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic);

/* -- page layout ----------------------------------------------------------- */
html {
    background-color: #EDF0F3;
    min-height: 100%;
}

body {
    font: 300 16px/1.45 "Roboto", sans-serif;
    color: #3e4f6c;
    margin: 0;
    padding: 0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.content-container {
    margin: auto;
    max-width: 960px;
    box-sizing: border-box;
}

a {
    color: #D36835;
    text-decoration: none;
}

.current > a,
a.current,
a:hover,
a:focus {
    color: #3e4f6c;
}

abbr {
    letter-spacing: 0.08em;
}

.button {
    background: #f0632f;
    border: 1px solid #c04f26;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 300 14px/normal "Roboto", sans-serif;
    padding: 8px 15px 9px;
}

.button:hover,
.button:focus {
    background-color: #db5523;
}

.button:active {
    background-color: #cb4616;
}

.textfield {
    border: 2px solid #c5cbd4;
    border-radius: 4px;
    font: 300 14px/normal "Roboto", sans-serif;
    height: 36px;
    padding: 9px 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: border-color .25s;
}

.textfield::-moz-placeholder {
    color: #ddd;
}

.textfield::-webkit-input-placeholder {
    color: #ddd;
}

.textfield:focus {
    border-color: #90a1b5;
}

.bodywrapper {
    background-color: #fff;
    border-radius: 6px;
    margin-left: 243px;
    margin-bottom: 60px;
}

.bodywrapper ol,
.bodywrapper ul {
    margin-left: 0;
    padding-left: 23px;
}

.bodywrapper blockquote {
    margin: 0;
}

.body {
    line-height: 1.5;
    padding: 22px 30px 30px;
}

.body img {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.body img.is-minimal {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 20px 0;
}

.nav {
    float: left;
    line-height: 1.35;
    padding: 27px 20px 40px 0;
    width: 243px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-bottom: 5px;
}

.nav ul ul {
    font-size: 14px;
    margin: 5px 0 5px 20px;
}

.nav ul ul.simple {
    margin-bottom: 0;
    margin-top: 0;
}

/* SEARCH FORM */
.search-form {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.search-form-field {
    margin-right: 1%;
    width: 75%;
}

/* HEADER */
.header {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 0;
}

.header .button {
    width: 23%;
}

.header-disclaimer {
    float: right;
    padding-top: 9px;
}

.header-logo {
    background: url("img/logo.png");
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 32px;
    margin-right: 50px;
    text-indent: -99999em;
    vertical-align: middle;
    width: 189px;
}

table.docutils {
    width: 100%;
}

table.docutils th,
table.docutils td {
    border-bottom: 2px solid #e0e0e0;
    padding: 8px 8px 8px 0px;
}

.ptable table {
    width: 100%;
    margin: 1em 0 1em 0;
}

.ptable table tr td:first-child,
.ptable table tr th:first-child {
    width: 20%;
}

/* -- body styles ----------------------------------------------------------- */
p {
    margin: 0.8em 0 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    font-size: 250%;
    margin: 0;
    padding: 0 0 0.3em 0;
    line-height: 1.2em;
}

h2 {
    font-size: 200%;
    margin: 1.3em 0 0.2em 0;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 160%;
    margin: 1em 0 -0.3em 0;
    padding-bottom: 5px;
}

h4 {
    font-size: 140%;
    margin: 1em 0 -0.3em 0;
    padding-bottom: 5px;
}

div.body h1 a,
div.body h2 a,
div.body h3 a,
div.body h4 a,
div.body h5 a,
div.body h6 a {
    color: #657B83 !important;
    font-size: 16px;
    margin-left: 10px;
    vertical-align: middle;
}

h1 a.anchor,
h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa !important;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover,
h2 a.anchor:hover,
h3 a.anchor:hover,
h4 a.anchor:hover,
h5 a.anchor:hover,
h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

cite, code, tt {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    letter-spacing: 0.01em;
    background-color: #FFF9DA;
    font-style: normal;
    word-break: break-all;
}

hr {
    border: 1px solid #eee;
    margin: 2em 0;
}

.highlight {
    border-left: 4px solid #DADADA;
}

pre {
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    padding: 15px 20px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.admonition {
    border-left: 4px solid #D36835;
    margin: 2em 0;
    padding: 15px 20px;
}

div.admonition p {
    margin: 0.5em 0;
}

div.admonition pre {
    margin: 0.4em 0;
}

div.admonition p.admonition-title {
    color: #D36835;
    margin: 0 0 5px;
    font-weight: bold;
}

div.warning,
div.important {
    border-left-color: red;
}

div.warning p.admonition-title,
div.important p.admonition-title {
    color: red;
}

div.hint,
div.tip {
    border-left-color: #3e4f6c;
}

div.hint p.admonition-title,
div.tip p.admonition-title {
    color: #3e4f6c;
}

div.caution,
div.attention,
div.danger,
div.error {
    border-left-color: #dc322f;
}

div.caution p.admonition-title,
div.attention p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title {
    color: #dc322f;
}

div.admonition ul, div.admonition ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #eee;
    background-color: #ddeaf0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.reference.internal em {
    font-style: normal;
}

div.hidden {
    display: none;
}

/* FIREFOX SPECIFIC */
@-moz-document url-prefix() {
    .button {
        padding-bottom: 8px;
        padding-top: 6px;
    }
}

/* MQ */
@media only screen and (max-width: 980px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-disclaimer {
        font-size: 80%;
    }

    .content-container {
        padding: 0 20px;
    }
}

