<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta content="Here’s how you can integrate Talkable Shopify app with your store." name="description" />

    <title>Shopify Integration &#8212; Talkable Documentation</title>
    <link rel="stylesheet" type="text/css" href="../_static/pygments.css" />
    <link rel="stylesheet" type="text/css" href="../_static/talkable.css" />
    <script data-url_root="../" id="documentation_options" src="../_static/documentation_options.js"></script>
    <script src="../_static/jquery.js"></script>
    <script src="../_static/underscore.js"></script>
    <script src="../_static/doctools.js"></script>
    <link rel="canonical" href="https://docs.talkable.com/integration/shopify.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Magento Integration" href="magento.html" />
    <link rel="prev" title="F.A.Q." href="custom/questions.html" /><link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="../_static/pygments-github.css" rel="stylesheet">
  <link href="../_static/img/favicon.ico" rel="shortcut icon" />
  </head><body>
  
    <div class="header">
      <a href="../index.html" class="header-logo">Talkable docs</a>
          <form class="search-form" action="../search.html" method="get">
            <input type="text" class="textfield search-form-field" name="q" placeholder="Search docs" />
            <input type="submit" class="button search-form-button" value="Search" />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
          </form>
      <div class="header-disclaimer">
        Visit
        <a href="https://www.talkable.com" target="_blank">www.talkable.com</a>
      </div>
    </div> <!-- /.header -->
  

  <div class="content-container content clearfix">
      <div class="nav">
        <ul>
<li class="toctree-l1"><a class="reference internal" href="../campaigns.html">Talkable Campaigns</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../advanced_features.html">Features</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="custom_integration.html">Standard Integration</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="current reference internal" href="#">Shopify Integration</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#automatic-integration">Automatic integration</a></li>
<li class="toctree-l2"><a class="reference internal" href="#manual-integration">Manual integration</a><ul>
<li class="toctree-l3"><a class="reference internal" href="verify.html">Verifying Integration instructions</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="magento.html">Magento Integration</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="demandware.html">Salesforce Commerce Cloud Integration</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="loyalty.html">Loyalty Integration (beta)</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../api_v2.html">API Reference</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../web_hooks.html">Webhooks</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../ios_sdk.html">Talkable iOS SDK</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../android_sdk.html">Talkable Android SDK</a></li>
</ul>

      </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <span class="target" id="integration-shopify"></span><div class="section" id="shopify-integration">
<h1>Shopify Integration<a class="headerlink" href="#shopify-integration" title="Permalink to this headline">¶</a></h1>
<div class="section" id="automatic-integration">
<h2>Automatic integration<a class="headerlink" href="#automatic-integration" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><div class="admonition note">
<p class="admonition-title">Note</p>
<p>If you have previously integrated with Talkable, make sure you remove the manual
Talkable integration script located in the Additional Content &amp; Scripts section before
you start the Automatic integration process. See <a class="reference internal" href="#manual-integration">Manual integration</a> for details.</p>
</div>
</div></blockquote>
<ol class="arabic simple">
<li><p>Contact <a class="reference external" href="mailto:sales&#37;&#52;&#48;talkable&#46;com">sales<span>&#64;</span>talkable<span>&#46;</span>com</a> to learn about our pricing and set up an account with Talkable</p></li>
</ol>
<p><span class="inline mll"></span> - Provide a valid Shopify store URL. Example: <span class="a">http://123test.myshopify.com</span>. <br>
<span class="inline mll"></span> - Choose “Shopify” as your platform during registration process</p>
<ol class="arabic simple" start="2">
<li><p>On the Welcome screen click “I’m a Developer“</p></li>
<li><p>Pass Shopify authorization</p></li>
<li><p>You will be redirected to your Shopify store, log in and click the install button</p></li>
<li><p>After successful installation you will be redirected back to Talkable</p></li>
<li><p>Click “Integrate automatically“</p></li>
<li><p>Turn on coupon auto-sync checkbox</p></li>
<li><p>Create, set up, and launch Campaigns (Invite, Advocate Dashboard, etc.)</p></li>
<li><p>Verify your integration using <a class="reference internal" href="verify.html#integration-verify"><span class="std std-ref">Verifying Integration instructions</span></a>.</p></li>
</ol>
<blockquote>
<div><div class="admonition note">
<p class="admonition-title">Note</p>
<p>Post Purchase campaign is located at the “Thank you” page after Checkout.</p>
<p>To check how Standalone Campaign looks visit <em>/pages/share</em> or <em>/pages/invite</em> links of your store.
You can edit these links in Administrative panel of your store.</p>
</div>
</div></blockquote>
</div>
<div class="section" id="manual-integration">
<h2>Manual integration<a class="headerlink" href="#manual-integration" title="Permalink to this headline">¶</a></h2>
<ol class="arabic">
<li><p>Provide a valid Shopify store URL and choose “Shopify” as your platform during registration process</p></li>
<li><p>On the Welcome screen click “I’m a Developer”</p></li>
<li><p>Pass Shopify authorization</p></li>
<li><p>You will be redirected to your Shopify store, log in and click the install button</p></li>
<li><p>After successful installation you will be redirected back to Talkable</p></li>
<li><p>Click “Integrate manually“</p></li>
<li><p>In your Shopify Admin follow:</p>
<blockquote>
<div><ul class="simple">
<li><p>Online Store</p></li>
<li><p>Themes</p></li>
<li><p>Actions → Edit code</p></li>
<li><p>Open <cite>Layout / theme.liquid</cite> file</p></li>
<li><p>Before closing <cite>&lt;/head&gt;</cite> paste the following code:</p></li>
</ul>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="c">&lt;!-- Begin Talkable integration code --&gt;</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span><span class="p">&gt;</span>
  <span class="nb">window</span><span class="p">.</span><span class="nx">_talkableq</span> <span class="o">=</span> <span class="p">[[</span><span class="s1">&#39;init&#39;</span><span class="p">,</span> <span class="p">{</span>
    <span class="nx">site_id</span><span class="o">:</span> <span class="s1">&#39;&lt;YOUR-TALKABLE-SITE-ID&gt;&#39;</span> <span class="c1">// REQUIRED - Replace with your Talkable Site ID</span>
  <span class="p">}]];</span>
  <span class="p">{</span><span class="o">%</span> <span class="k">if</span> <span class="nx">customer</span> <span class="o">%</span><span class="p">}</span>
    <span class="nx">_talkableq</span><span class="p">.</span><span class="nx">push</span><span class="p">([</span><span class="s1">&#39;authenticate_customer&#39;</span><span class="p">,</span> <span class="p">{</span>
      <span class="nx">email</span><span class="o">:</span>      <span class="s1">&#39;{{ customer.email }}&#39;</span><span class="p">,</span>
      <span class="nx">first_name</span><span class="o">:</span> <span class="s1">&#39;{{ customer.first_name }}&#39;</span><span class="p">,</span>
      <span class="nx">last_name</span><span class="o">:</span>  <span class="s1">&#39;{{ customer.last_name }}&#39;</span>
    <span class="p">}]);</span>
  <span class="p">{</span><span class="o">%</span> <span class="nx">endif</span> <span class="o">%</span><span class="p">}</span>
  <span class="nx">_talkableq</span><span class="p">.</span><span class="nx">push</span><span class="p">([</span><span class="s1">&#39;register_affiliate&#39;</span><span class="p">,</span> <span class="p">{}]);</span>
<span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;https://YOUR-PER-CLIENT-INTEGRATION.js&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="c">&lt;!-- End Talkable integration code --&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>Replace <strong>&lt;YOUR-TALKABLE-SITE-ID&gt;</strong> with your Talkable Site ID which is displayed on the integration page.</p>
</div>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>Replace <strong>YOUR-PER-CLIENT-INTEGRATION</strong> with the link to your per-client
integration library which is displayed on the integration page. Example:
<strong>https://d2jjzw81hqbuqv.cloudfront.net/integration/clients/test.min.js</strong>.</p>
</div>
<ul class="simple">
<li><p>Click “Save”.</p></li>
</ul>
</div></blockquote>
</li>
<li><p>Then navigate to:</p>
<blockquote>
<div><ul class="simple">
<li><p>Open <cite>Themes / Templates</cite></p></li>
<li><p>Click “Add a new template“</p></li>
<li><p>Create a new template for <cite>page</cite> called <cite>talkable</cite></p></li>
<li><p>Paste the following code inside layout of this page instead of <cite>{{ page.content }}</cite>:</p></li>
</ul>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;talkable-offer&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</pre></div>
</div>
<ul class="simple">
<li><p>Click “Save”</p></li>
<li><p>Create a new template for page called <cite>dashboard.talkable</cite></p></li>
<li><p>Paste the following code inside layout of this page instead of <cite>{{ page.content }}</cite>:</p></li>
</ul>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;talkable-offer&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
  {% else %}
    {{ &#39;Log in&#39; | customer_login_link }}
  {% endif %}
{% endif %}
</pre></div>
</div>
</div></blockquote>
</li>
<li><p>Then navigate to:</p>
<blockquote>
<div><ul class="simple">
<li><p>Open <cite>Online Store / Pages</cite></p></li>
<li><p>Click “Add page“</p></li>
<li><p>Add title <cite>Share</cite></p></li>
<li><p>Select Template suffix <cite>page.talkable</cite></p></li>
<li><p>Click “Save”</p></li>
<li><p>Click “Add page“</p></li>
<li><p>Add title <cite>Referral Dashboard</cite></p></li>
<li><p>Select Template suffix <cite>page.dashboard.talkable</cite></p></li>
<li><p>Click “Save” (Customer accounts must be enabled in <cite>Settings / Checkout</cite>)</p></li>
</ul>
</div></blockquote>
</li>
<li><p>Then navigate to:</p>
<ul class="simple">
<li><p>Settings</p></li>
<li><p>Checkout</p></li>
<li><p>Scroll down to <strong>Order Processing</strong></p></li>
<li><p>Paste the following code into <strong>Additional scripts</strong> field:</p></li>
</ul>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="c">&lt;!-- Begin Talkable integration code --&gt;</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span><span class="p">&gt;</span>
  <span class="nb">window</span><span class="p">.</span><span class="nx">_talkableq</span> <span class="o">=</span> <span class="p">[[</span><span class="s1">&#39;init&#39;</span><span class="p">,</span> <span class="p">{</span>
    <span class="nx">site_id</span><span class="o">:</span> <span class="s1">&#39;&lt;YOUR-TALKABLE-SITE-ID&gt;&#39;</span> <span class="c1">// REQUIRED - Replace with your Talkable Site ID</span>
  <span class="p">}]];</span>

  <span class="k">if</span> <span class="p">(</span><span class="nx">Shopify</span> <span class="o">&amp;&amp;</span> <span class="nx">Shopify</span><span class="p">.</span><span class="nx">checkout</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">checkout</span> <span class="o">=</span> <span class="nx">Shopify</span><span class="p">.</span><span class="nx">checkout</span>
    <span class="kd">var</span> <span class="nx">_talkable_order_items</span> <span class="o">=</span> <span class="p">[];</span>
    <span class="k">for</span> <span class="p">(</span><span class="nx">idx</span> <span class="k">in</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">line_items</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">line</span> <span class="o">=</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">line_items</span><span class="p">[</span><span class="nx">idx</span><span class="p">];</span>
      <span class="nx">_talkable_order_items</span><span class="p">.</span><span class="nx">push</span><span class="p">({</span>
        <span class="nx">product_id</span><span class="o">:</span> <span class="nx">line</span><span class="p">.</span><span class="nx">sku</span> <span class="o">||</span> <span class="nx">line</span><span class="p">.</span><span class="nx">product_id</span><span class="p">,</span> <span class="c1">// REQUIRED - First Item Product ID</span>
        <span class="nx">price</span><span class="o">:</span> <span class="nx">line</span><span class="p">.</span><span class="nx">price</span><span class="p">,</span> <span class="c1">// REQUIRED - First Item Unit Price</span>
        <span class="nx">quantity</span><span class="o">:</span> <span class="nx">line</span><span class="p">.</span><span class="nx">quantity</span><span class="p">,</span> <span class="c1">// REQUIRED - First Item Quantity</span>
        <span class="nx">title</span><span class="o">:</span> <span class="nx">line</span><span class="p">.</span><span class="nx">title</span><span class="p">,</span> <span class="c1">// Optional - Name of product</span>
      <span class="p">});</span>
    <span class="p">}</span>

    <span class="kd">var</span> <span class="nx">_talkable_data</span> <span class="o">=</span> <span class="p">{</span>
      <span class="nx">purchase</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">order_number</span><span class="o">:</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">order_id</span><span class="p">,</span> <span class="c1">// REQUIRED - Order number</span>
        <span class="nx">subtotal</span><span class="o">:</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">total_price</span><span class="p">,</span> <span class="c1">// REQUIRED - Purchase Subtotal</span>
        <span class="nx">coupon_code</span><span class="o">:</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">discount</span> <span class="o">?</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">discount</span><span class="p">.</span><span class="nx">code</span> <span class="o">:</span> <span class="kc">null</span><span class="p">,</span>
        <span class="nx">items</span><span class="o">:</span> <span class="nx">_talkable_order_items</span>
      <span class="p">},</span>
      <span class="nx">customer</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">email</span><span class="o">:</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">email</span><span class="p">,</span> <span class="c1">// REQUIRED - Customer Email Address</span>
        <span class="nx">first_name</span><span class="o">:</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">billing_address</span> <span class="o">?</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">billing_address</span><span class="p">.</span><span class="nx">first_name</span> <span class="o">:</span> <span class="kc">null</span><span class="p">,</span> <span class="c1">// Optional - Customer first name</span>
        <span class="nx">last_name</span><span class="o">:</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">billing_address</span> <span class="o">?</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">billing_address</span><span class="p">.</span><span class="nx">last_name</span> <span class="o">:</span> <span class="kc">null</span> <span class="c1">// Optional - Customer last name</span>
      <span class="p">}</span>
    <span class="p">};</span>

    <span class="k">if</span> <span class="p">(</span><span class="nx">checkout</span><span class="p">.</span><span class="nx">shipping_address</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">shipping_address</span> <span class="o">=</span> <span class="nx">checkout</span><span class="p">.</span><span class="nx">shipping_address</span><span class="p">;</span>
      <span class="nx">shipping_fields</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;address1&#39;</span><span class="p">,</span> <span class="s1">&#39;address2&#39;</span><span class="p">,</span> <span class="s1">&#39;city&#39;</span><span class="p">,</span> <span class="s1">&#39;province&#39;</span><span class="p">,</span> <span class="s1">&#39;zip&#39;</span><span class="p">,</span> <span class="s1">&#39;country&#39;</span><span class="p">];</span>
      <span class="nx">address</span> <span class="o">=</span> <span class="p">[];</span>

      <span class="k">for</span> <span class="p">(</span><span class="kd">var</span> <span class="nx">idx</span> <span class="k">in</span> <span class="nx">shipping_fields</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">address_key</span> <span class="o">=</span> <span class="nx">shipping_fields</span><span class="p">[</span><span class="nx">idx</span><span class="p">];</span>
        <span class="k">if</span> <span class="p">(</span><span class="nx">shipping_address</span><span class="p">[</span><span class="nx">address_key</span><span class="p">])</span> <span class="p">{</span>
          <span class="nx">address</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">shipping_address</span><span class="p">[</span><span class="nx">address_key</span><span class="p">]);</span>
        <span class="p">}</span>
      <span class="p">}</span>

      <span class="k">if</span> <span class="p">(</span><span class="nx">shipping_address</span><span class="p">.</span><span class="nx">zip</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">_talkable_data</span><span class="p">.</span><span class="nx">purchase</span><span class="p">.</span><span class="nx">shipping_zip</span> <span class="o">=</span> <span class="nx">shipping_address</span><span class="p">.</span><span class="nx">zip</span><span class="p">;</span>
      <span class="p">}</span>
      <span class="k">if</span> <span class="p">(</span><span class="nx">address</span><span class="p">.</span><span class="nx">length</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">_talkable_data</span><span class="p">.</span><span class="nx">purchase</span><span class="p">.</span><span class="nx">shipping_address</span> <span class="o">=</span> <span class="nx">address</span><span class="p">.</span><span class="nx">join</span><span class="p">(</span><span class="s1">&#39;, &#39;</span><span class="p">);</span>
      <span class="p">}</span>
    <span class="p">}</span>

    <span class="nx">_talkableq</span><span class="p">.</span><span class="nx">push</span><span class="p">([</span><span class="s1">&#39;register_purchase&#39;</span><span class="p">,</span> <span class="nx">_talkable_data</span><span class="p">]);</span>
  <span class="p">}</span>
<span class="p">&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">async</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;YOUR-PER-CLIENT-INTEGRATION&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="c">&lt;!-- End Talkable integration code --&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>Replace <strong>&lt;YOUR-TALKABLE-SITE-ID&gt;</strong> with your Talkable Site ID which is displayed on the integration page.</p>
</div>
<div class="admonition note">
<p class="admonition-title">Note</p>
<p>Replace <strong>YOUR-PER-CLIENT-INTEGRATION</strong> with the link to your per-client
integration library which is displayed on the integration page. Example:
<strong>https://d2jjzw81hqbuqv.cloudfront.net/integration/clients/test.min.js</strong>.</p>
</div>
</li>
<li><p>Click “Save”.</p></li>
<li><p>Verify your integration using <a class="reference internal" href="verify.html#integration-verify"><span class="std std-ref">Verifying Integration instructions</span></a>.</p></li>
</ol>
<div class="hidden docutils container">
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="verify.html">Verifying Integration instructions</a><ul>
<li class="toctree-l2"><a class="reference internal" href="verify.html#verifying-integration-in-js-spas">Verifying Integration in JS SPAs</a></li>
<li class="toctree-l2"><a class="reference internal" href="verify.html#troubleshooting">Troubleshooting</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>


            <div class="clearer"></div>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  </div> <!-- /.content-container -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63500208-1', 'auto');
    ga('send', 'pageview');
  </script>
  </body>
</html>