name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - master
      - staging
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}${{ contains(fromJSON('["master", "staging"]'), github.ref_name) && format('-{0}', github.run_id) || '' }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: runs-on=${{ github.run_id }}/cpu=1+32/ram=1+32/family=m8+c8+r8+i8+m7+c7+r7+m6+c6+r6+t4/image=ubuntu24-full-arm64/spot=lowest-price/extras=s3-cache

    env:
      ENVIRONMENT: production

    steps:
      - uses: runs-on/action@v2
        with:
          # See https://github.com/runs-on/action#options
          # metrics: cpu,network,memory,disk,io
          show_costs: summary
          show_env: false

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        working-directory: sphinx
        run: uv sync

      - name: Build documentation
        working-directory: sphinx
        run: uv run sphinx-build -nW -b dirhtml -d build/doctrees ../source build/html
